n8n-linkedin-workflow.json
{
  "name": "LinkedIn Automation — Multi-Mode Scheduler",
  "nodes": [
    {
      "parameters": {},
      "id": "cdefbb26-ec41-4560-b8d2-43d93a107817",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [320, 240]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "days", "triggerAtHour": 10 }
          ]
        }
      },
      "id": "27f80459-7e4a-4a27-a06d-741ce69b0fa6",
      "name": "Daily 10am Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [320, 420]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mode",
              "value": "connect"
            },
            {
              "name": "query",
              "value": "recruiter software engineer remote LATAM Brazil"
            }
          ],
          "number": [
            {
              "name": "limit",
              "value": 30
            }
          ]
        },
        "options": {}
      },
      "id": "7f1fb559-052b-4add-834c-6cf4df57270e",
      "name": "Set Automation Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [560, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/linkedin/schedule",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "={{ $json.mode }}"
            },
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f512deb1-5a50-4ff6-8367-a0d78fb4ea85",
      "name": "Queue Task via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 340]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "triggerAtMinute": 0 }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Hourly Status Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [320, 600]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/linkedin/status",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Get Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 600]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [[
        { "node": "Set Automation Config", "type": "main", "index": 0 }
      ]]
    },
    "Daily 10am Trigger": {
      "main": [[
        { "node": "Set Automation Config", "type": "main", "index": 0 }
      ]]
    },
    "Set Automation Config": {
      "main": [[
        { "node": "Queue Task via API", "type": "main", "index": 0 }
      ]]
    },
    "Hourly Status Check": {
      "main": [[
        { "node": "Get Status", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
